@import url("styleguide.css");

/* smartphone view */
@media screen and (max-width: 480px) {
  li.toc_entry::after { content: "\A"; white-space: pre ;} 
  li.toc_entry a { text-indent: -5em; }
  .toc td, .toc th { display: block; }
  .toc td:nth-child(even) { border-left-width: 20px; }
  body { overflow-wrap: break-word; }
  code, samp, var { white-space: normal; }
  ul, ol { padding-left: 1em; }
  dd { margin-left: 1em; }
  dt { margin-top: 0.5em; }
  h1, h2, h3, h4, h5, h6 { padding: 0.5em; }
  pre { font-size: smaller; }
}

/* darkmode view */
@media (prefers-color-scheme: dark) {
  :root{ color-scheme: dark; }
  body { background-color: #111; color: #eee; }
  h1, h2, h3, h4, h5, h6 { color: #39F; }
  table, td, th { border: 1px solid #666; }
  code, samp, var, pre { background-color:#444; }
  pre.bad, pre.badcode { background-color:#600;}
}

.definition:before {
  content: "定義: ";
}

.pros:before {
  content: "長所: ";
}

.cons:before {
  content: "短所: ";
}

.decision:before {
  content: "結論: ";
}

.exception:before {
  content: "例外: ";
}

.note:before {
  content: "メモ: ";
}


body {
  font-family: "YuGothic", "Yu Gothic", sans-serif;
}

code, pre {
  font-family: "Consolas", "Lucida Console", monospace;
}
