@import url("styleguide.css");

.definition:before {
  content: "定義: ";
}

.pros:before {
  content: "メリット: ";
}

.cons:before {
  content: "デメリット: ";
}

.decision:before {
  content: "結論: ";
}

.exception:before {
  content: "例外: ";
}

.note:before {
  content: "メモ: ";
}


body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

code, pre {
  font-family: "Consolas", "Lucida Console", monospace;
}
